.calculate {
  position: relative;
  z-index: 10;
  background-color: #375bcc;

  &__container {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0px;
      top: 0px;
      width: 835px;
      height: 967px;
      background-image: url("../img/calculate-left.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      @media (max-width: 1520px) {
        width: 60%;
        background-size: contain;
      }

      @include tablet {
        display: none;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: -62px;
      right: 0px;
      opacity: 0.8;
      width: 689px;
      height: 854px;
      background-image: url("../img/calculate-right.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      @media (max-width: 1520px) {
        width: 50%;
        background-size: contain;
      }

      @include tablet {
        display: none;
      }
    }
  }

  &__content {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding-top: 84px;
    padding-bottom: 135px;

    @include xxl-tablet {
      padding-bottom: 80px;
    }

    @include small-tablet {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  &__title {
    margin-bottom: 87px;
    text-align: center;

    @include small-tablet {
      margin-bottom: 40px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    border-radius: 25px;
    margin-right: 94px;
    padding-top: 39px;
    width: 1088px;
    background-color: #2840a2;

    @include big-desktop {
      align-self: center;
      margin-right: 0;
      width: 95%;
    }

    @include mobile {
      padding-top: 25px;
      width: 97%;
    }
  }
}

.form-calculate {
  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    padding-right: 29px;
    padding-left: 47px;

    @include tablet {
      flex-direction: column;
    }

    @include small-tablet {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__group {
    display: flex;
    align-items: center;
    padding-top: 14px;

    @include tablet {
      justify-content: space-between;
      margin-bottom: 40px;
      width: 100%;
    }

    @include mobile {
      margin-bottom: 30px;
    }

    @include mini-mobile {
      flex-direction: column;
      padding-top: 0;
    }
  }

  &__input {
    border-bottom: 1px solid rgba(#fff, 0.5);
    padding-bottom: 16px;
    width: 100%;
    font-weight: 400;
    color: var(--white-color);
    background-color: transparent;
    transition: border-bottom .3s;

    @include tablet {
      font-size: 28px;
    }

    @include small-tablet {
      font-size: 24px;
      line-height: 24px;
    }

    &::placeholder {
      opacity: 1;
      color: var(--white-color);
      transition: opacity .3s;
    }

    &:focus {
      outline: none;
      border-bottom: 1px solid rgba(#fff, 1);
      transition: border-bottom .3s;

      &::placeholder {
        opacity: 0;
        transition: opacity .3s;
      }
    }

    &:active {
      border-bottom: 1px solid rgba(#fff, 1);
      transition: border-bottom .3s;

      &::placeholder {
        opacity: 0;
        transition: opacity .3s;
      }
    }
  }

  &__label {
    width: 20%;

    & + & {
      margin-left: 85px;
    }
  }

  &__btn {
    margin-left: auto;
    padding: 32px 67px;

    @include xl-tablet {
      margin-left: initial;
      padding: 25px 50px;
    }

    @include tablet {
      text-align: center;
    }

    @include small-tablet {
      padding: 15px 60px;
    }

    @include mobile {
      width: 100%;
    }

    @include mini-mobile {
      padding: 13px 60px;
    }
  }

  &__bottom {
    border-radius: 0 0 25px 25px;
    margin-top: auto;
    padding-top: 36px;
    padding-right: 29px;
    padding-bottom: 34px;
    padding-left: 47px;
    background-color: #2a4bb2;

    @include small-tablet {
      padding-right: 20px;
      padding-left: 20px;
    }

    @include mobile {
      padding-top: 15px;
      padding-bottom: 25px;
    }
  }

  &__caption {
    display: inline-block;
    margin-bottom: 18px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 24px;
    color: #f9db13;

    @include small-tablet {
      font-size: 20px;
      line-height: 20px;
    }

    @include mobile {
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 10px;
    }

    @include mini-mobile {
      font-size: 14px;
      line-height: 14px;
    }
  }

  &__nums {
    font-size: 48px;
    line-height: 46px;
    font-weight: 700;
    text-transform: uppercase;

    @include tablet {
      font-size: 40px;
      line-height: 40px;
    }

    @include small-tablet {
      font-size: 31px;
      line-height: 31px;
    }

    @include mobile {
      font-size: 26px;
      line-height: 26px;
    }
  }

  &__currency {
    color: #f9db13;
  }

  &__text {
    opacity: 0.5;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;

    @include small-tablet {
      font-size: 16px;
      line-height: 16px;
    }

    @include mobile {
      font-size: 14px;
      line-height: 14px;
    }
  }
}

.label {

  &-sum {
    width: 53.2%;
    margin-right: 90px;

    @include xl-tablet {
      margin-right: 40px;
    }

    @include tablet {
      width: 40%;
      margin-right: 0;
    }

    @include mobile {
      width: 50%;
    }

    @include mini-mobile {
      margin-bottom: 20px;
      width: 100%;
    }
  }

  &-currency {
    width: 15%;
  }
}

.custom-select {
  position: relative;
  width: 24%;

  @include small-tablet {
    width: 30%;
  }

  @include mobile {
    width: 40%;
  }

  @include mini-mobile {
    width: 100%;
  }

  &--open {
    .custom-select__bottom {
      display: block;
    }

    .custom-select__top {
      border-bottom: 1px solid rgba(#fff, 1);
      transition: border-bottom .3s;
    }
  }

  &__top {
    border-bottom: 1px solid rgba(#fff, 0.5);
    padding-bottom: 17px;
    font-weight: 400;
    color: var(--white-color);
    text-align: start;
    transition: border-bottom .3s;

    @include tablet {
      font-size: 28px;
      line-height: 28px;
    }

    @include small-tablet {
      font-size: 24px;
      line-height: 31px;
    }

  }

  &__bottom {
    position: absolute;
    display: none;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: #2840a2;;
  }

  &__item {
    padding: 5px;
    font-size: 26px;
    line-height: 26px;
    color: var(--white-color);

    & + & {
      margin-top: 5px;
    }
  }
}
