.footer {
  height: 308px;
  background-color: #001f95;

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 34px;
    padding-bottom: 33px;
  }

  &__online {
    position: absolute;
    left: 2px;
    top: 82px;
    display: flex;
    flex-direction: column;
    width: 141px;

    picture {
      margin-bottom: 16px;
    }

    &-count {
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__btn {
    margin-bottom: 26px;
    padding: 32px 54px
  }

  &__nav {
    margin-bottom: 34px;

  }

  &__list {
    display: flex;
  }

  &__link {
    position: relative;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;


    &::before {
      content: "";
      position: absolute;
      left: 0px;
      bottom: -5px;
      width: 0%;
      height: 1px;
      background-color: currentColor;
      transition: width .3s;
    }

    &:hover {
      &::before {
        width: 100%;
        transition: width .3s;
      }
    }
  }

  &__item + &__item {
    margin-left: 30px;
  }

  &__copyright {
    display: inline-block;
    margin-bottom: 1px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }

  &__address {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }

}
