.footer {
  background-color: #001f95;

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 34px;
    padding-bottom: 31px;

    @include tablet {
      flex-direction: column;
    }
  }

  &__online {
    display: flex;
    flex-direction: column;
    margin-right: 155px;
    width: 141px;
    transform: translateY(-9px);

    @media (max-width: 1623px) {
      margin-right: 100px;
    }

    @media (max-width: 1570px) {
      margin-right: 50px;
    }

    @media (max-width: 1372px) {
      margin-right: 70px;
    }

    @include tablet {
      margin-right: 0;
      margin-bottom: 40px;
    }

    @include small-tablet {
      align-self: flex-start;
    }

    @include mobile {
      margin-bottom: 20px;
    }

    picture {
      margin-bottom: 16px;
    }

    &-count {
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;

      @include mobile {
        font-size: 20px;
        line-height: 20px;
      }
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet {
      width: 100%;
    }
  }

  &__btn {
    margin-bottom: 26px;
    padding: 32px 54px;

    @include md-tablet {
      padding: 20px 54px;
    }

    @include mobile {
      padding: 15px 30px;
      width: 100%;
    }
  }

  &__nav {
    order: -1;
    margin-bottom: 34px;

    @include tablet {
      width: 100%;
    }
  }

  &__list {
    display: flex;

    @media (max-width: 1519px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 30px;
      row-gap: 30px;
    }

    @media (max-width: 1372px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
      row-gap: 30px;
    }

    @include small-tablet {
      grid-template-columns: repeat(1, 1fr);
    }

    @include mobile {
      row-gap: 15px;
    }
  }

  &__link {
    position: relative;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    @include md-tablet {
      font-size: 22px;
      line-height: 22px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0px;
      bottom: -5px;
      width: 0%;
      height: 1px;
      background-color: currentColor;
      transition: width .3s;
    }

    &:hover {
      &::before {
        width: 100%;
        transition: width .3s;
      }
    }
  }

  &__item + &__item {
    margin-left: 27px;

    @media (max-width: 1519px) {
      margin-left: 0;
    }
  }

  &__copyright {
    display: inline-block;
    margin-bottom: 1px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    @include md-tablet {
      margin-bottom: 10px;
      font-size: 22px;
      line-height: 22px;
    }

    @include small-tablet {
      align-self: flex-start;
      font-size: 20px;
      line-height: 20px;
    }

    @include mini-mobile {
      font-size: 16px;
      line-height: 16px;
    }
  }

  &__address {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    @include md-tablet {
      font-size: 22px;
      line-height: 22px;
    }

    @include small-tablet {
      align-self: flex-start;
      font-size: 20px;
      line-height: 20px;
    }

    @include mini-mobile {
      font-size: 16px;
      line-height: 16px;
    }
  }
}
