.partners {
  position: relative;
  background-color: #2840a2;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-image: url("../img/partners-bg.png");
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  // }


  &__container {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -17px;
      right: 5px;
      z-index: 2;
      opacity: 0.9;
      width: 682px;
      height: 693px;
      background-image: url("../img/partners-img.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      @media (max-width: 1520px) {
        width: 45.2%;
        background-size: contain;
      }

      @include xxl-tablet {
        display: none;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: -68px;
      right: 116px;
      opacity: 0.5;
      width: 615px;
      height: 615px;
      background-image: url("../img/partners-btc.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      @media (max-width: 1520px) {
        width: 40.7%;
        background-size: contain;
      }

      @include xxl-tablet {
        display: none;
      }
    }
  }

  &__content {
    position: relative;
    z-index: 5;
    padding-top: 75px;
    padding-right: 120px;
    padding-bottom: 100px;
    padding-left: 120px;

    @media (max-width: 1790px) {
      padding-right: 100px;
      padding-left: 100px;
    }

    @media (max-width: 1620px) {
      padding-right: 0px;
      padding-left: 0px;
    }

    @include big-desktop {
      padding-bottom: 60px;
    }

    @include xl-tablet {
      padding-top: 50px;
    }

    @include small-tablet {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  &__title {
    margin-bottom: 80px;
    font-weight: 500;
    text-align: center;

    @include small-tablet {
      margin-bottom: 50px;
    }

    @include mini-mobile {
      margin-bottom: 30px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 6.7%;

    @media (max-width: 1790px) {
      column-gap: 5%;
    }

    @media (max-width: 1500px) {
      column-gap: 3%;
    }

    @include xxl-tablet {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 10%;
      row-gap: 40px;
    }

    @include tablet {
      column-gap: 5%;
    }

    @include small-tablet {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 8%;
    }

    @include mobile {
      column-gap: 5%;
    }

    @include mini-mobile {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 30px;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: 100%;
    height: 227px;
    background-color: var(--white-color);

    @include small-tablet {
      height: 200px;
    }

    @include mobile {
      height: 180px;
    }

    picture img{
      @include mobile {
        padding: 10px;
      }

      @include mini-mobile {
        padding: 0px;
      }
    }
  }
}
