.partners {
  position: relative;
  height: 542px;
  background-color: #2840a2;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-image: url("../img/partners-bg.png");
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  // }


  &__container {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -17px;
      right: 5px;
      z-index: 2;
      opacity: 0.9;
      width: 682px;
      height: 693px;
      background-image: url("../img/partners-img.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &::after {
      content: "";
      position: absolute;
      top: -68px;
      right: 116px;
      opacity: 0.5;
      width: 615px;
      height: 615px;
      background-image: url("../img/partners-btc.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__content {
    position: relative;
    z-index: 5;
    padding-top: 75px;
    padding-right: 120px;
    padding-bottom: 98px;
    padding-left: 120px;
  }

  &__title {
    margin-bottom: 80px;
    font-weight: 500;
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 104px;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: 100%;
    height: 227px;
    background-color: var(--white-color);
  }
}
