.works {
  position: relative;
  background-color: #375bcc;

  &__container {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 1px;
      top: -143px;
      opacity: 0.6;
      width: 826px;
      height: 884px;
      background-image: url("../img/works-left.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0px;
      top: 85px;
      opacity: 0.5;
      width: 678px;
      height: 587px;
      background-image: url("../img/works-right.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &-arrow {
    position: absolute;
    top: 66px;
    left: 370px;
    opacity: 0.2;
    width: 1036px;
    height: 424px;
    background-image: url("../img/works-arrow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 79px;
    padding-right: 20px;
    padding-bottom: 101px;
    padding-left: 24px;
    z-index: 5;
  }

  &__title {
    margin-bottom: 60px;
    font-weight: 400;

    span {
      font-weight: 700;
    }
  }

  &__descr {
    margin: 0;
    font-weight: 300;
    line-height: 36px;
    text-align: center;

    &:nth-of-type(1) {
      margin-bottom: 34px;
    }

    span {
      font-weight: 700;
      font-size: 30px;
      line-height: 30px;
    }
  }
}
