<section class="calculate">
  <div class="container">
    <div class="calculate__content">
      <h2 class="calculate__title title">Сколько я могу заработать?</h2>
      <form class="calculate__form form-calculate" action="#" >
        <div class="form-calculate__top">
          <label class="form-calculate__label label-sum">
            <input class="form-calculate__input input-reset" type="text" name="Сумма" placeholder="Сумма вклада">
          </label>
          <label class="form-calculate__label label-currency">
            <input class="form-calculate__input input-reset" type="text" name="Валюта"  placeholder="Валюта ₽">
          </label>
          <button class="form-calculate__btn main-btn btn-reset">Посчитать</button>
        </div>
        <div class="form-calculate__bottom">
          <strong class="form-calculate__caption">За 24 часа будет заработано</strong>
          <div class="form-calculate__nums">
            <span class="form-calculate__btc">0.076 128 20 BTC</span>
            <span class="form-calculate__currency">(Руб 345 000)</span>
          </div>
          <span class="form-calculate__text">Цена на биткоин указана с учетом курса на сегодняшний день</span>
        </div>
      </form>
    </div>
  </div>
</section>
