<footer class="footer">
  <div class="container footer__container">
    <div class="footer__content">
      <div class="footer__online">
        <picture>
          <source srcset="img/online.avif" type="image/avif">
          <source srcset="img/online.webp" type="image/webp">
          <img loading="lazy" src="img/online.png" class="image" width="77" height="58" alt="" aria-hidden="true">
        </picture>
        <span class="footer__online-count">245 человек на странице</span>
      </div>
      <button class="footer__btn main-btn btn-reset">Начать бесплатно</button>
      <nav class="footer__nav">
        <ul class="footer__list list-reset">
          <li class="footer__item"><a class="footer__link" href="#">Контакты</a></li>
          <li class="footer__item"><a class="footer__link" href="#">Политика</a></li>
          <li class="footer__item"><a class="footer__link" href="#">конфиденциальности</a></li>
          <li class="footer__item"><a class="footer__link" href="#">Пользовательское соглашение</a></li>
          <li class="footer__item"><a class="footer__link" href="#">Вход в личный кабинет</a></li>
        </ul>
      </nav>
      <span class="footer__copyright">Copyright ©2022 – Официальный Сайт Trust System Management</span>
      <address class="footer__address">Frunze Timura str.11, Moscow, Russia, 119034</address>
    </div>
  </div>
</footer>
