<section class="hero">
  <span class="hero__flash hero__flash--left"></span>
  <span class="hero__flash hero__flash--right"></span>
  <div class="container hero__container">
    <h1 class="hero__title">Официальный сайт <span>Trust System</span></h1>
    <div class="hero__content">
      <span class="hero__text">Оставьте контакты</span>
      <span class="hero__text">и узнайте, как зарабатывать</span>
      <span class="hero__text hero__text--red">от 15.000$ каждый месяц</span>
    </div>
    <form class="hero__form form" action="#">
      <div class="form__inputs">
        <label class="form__label">
          <input class="form__input input-reset input-name" type="text" name="Имя" placeholder="Имя">
        </label>
        <label class="form__label">
          <input class="form__input input-reset input-phone" type="tel" name="Телефон" placeholder="Телефон">
        </label>
        <label class="form__label">
          <input class="form__input input-reset input-email" type="email" name="E-mail" placeholder="E-mail">
        </label>
      </div>
      <button class="form__btn btn-reset main-btn">Начать бесплатно</button>
    </form>
  </div>
</section>
