<section class="partners">
  <div class="container">
    <div class="partners__content">
      <h2 class="partners__title title">Нашими партнерами являются</h2>
      <ul class="partners__list list-reset">
        <li class="partners__item">
          <picture>
            <source srcset="img/tinkof.avif" type="image/avif">
            <source srcset="img/tinkof.webp" type="image/webp">
            <img loading="lazy" src="img/tinkof.png" class="image" width="185" height="134" alt="Тинькофф">
          </picture>
        </li>
        <li class="partners__item">
          <picture>
            <source srcset="img/sber.avif" type="image/avif">
            <source srcset="img/sber.webp" type="image/webp">
            <img loading="lazy" src="img/sber.png" class="image" width="189" height="30" alt="Сбербанк">
          </picture>
        </li>
        <li class="partners__item">
          <picture>
            <source srcset="img/alfa.avif" type="image/avif">
            <source srcset="img/alfa.webp" type="image/webp">
            <img loading="lazy" src="img/alfa.png" class="image" width="195" height="58" alt="Альфа-Банк">
          </picture>
        </li>
        <li class="partners__item">
          <picture>
            <source srcset="img/qiwi.avif" type="image/avif">
            <source srcset="img/qiwi.webp" type="image/webp">
            <img loading="lazy" src="img/qiwi.png" class="image" width="141" height="146" alt="Киви">
          </picture>
        </li>
        <li class="partners__item">
          <picture>
            <source srcset="img/vtb.avif" type="image/avif">
            <source srcset="img/vtb.webp" type="image/webp">
            <img loading="lazy" src="img/vtb.png" class="image" width="194" height="70" alt="ВТБ">
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
