<section class="questions">
  <div class="container questions__container">
    <h2 class="questions__title title">Помощь и поддержка</h2>
    <h3 class="questions__subject">Мы ответим на ваши вопросы и поможем заработать деньги</h3>
    <ul class="questions__list list-reset">
      <li class="questions__item">
        <strong class="questions__caption">Что за программа Trust System?</strong>
        <p class="questions__descr">Это 100% БЕСПЛАТНАЯ программа, которая позволит Вам зарабатывать от 1000 долларов каждый месяц торгуя на крипто рынках в 1 клик! Она полностью автоматизирована и выбирает для Вас прибыльные сделки!</p>
      </li>
      <li class="questions__item">
        <strong class="questions__caption">Сколько я могу зарабатывать с помощью проекта Trust System?</strong>
        <p class="questions__descr">Если в двух словах, то без границ. Но если принять во внимание технические аспекты, то это действительно зависит от того, на какую сумму Вы пополните свой счёт. Большинство наших пользователей пополняют свой счёт на 500-1000$ и уже получают свою первую прибыль!</p>
      </li>
      <li class="questions__item">
        <strong class="questions__caption">Каков минимальный депозит?</strong>
        <p class="questions__descr">Естественно, чтобы приступить к работе и зарабатывать деньги, необходимо иметь первоначальную инвестиционную сумму на своём торговом счету. Так каков же минимальный депозит? Инвесторы которые сомневаются, что сфера криптовалюты будет им под силу, начинают со 100-150$ и уже получают стабильный ежедневный доход с аналитиком или системой автоматического заработка!</p>
      </li>
      <li class="questions__item">
        <strong class="questions__caption">Как начать зарабатывать?</strong>
        <p class="questions__descr">Есть несколько простых шагов, которые нужно сделать, прежде чем начать зарабатывать деньги. 1 шаг: Создайте учетную запись (аккаунт) чтобы Вы смогли торговать. 2 шаг: Внесите деньги на свой персональный счет. 3 шаг: Начинайте зарабатывать деньги прямо сейчас! Прямо в первый день!</p>
      </li>
      <li class="questions__item">
          <strong class="questions__caption">Нужно ли мне использовать кредитную карту для регистрации? Как я могу себя обезопасить от
            потери средств?</strong>
        <p class="questions__descr">НИ В КОЕМ СЛУЧАЕ!. Программа является 100% БЕСПЛАТНОЙ. Вам не нужна кредитная карта, счет в WebMoney или другая банковская информация при загрузке программы! Чтобы начать получать прибыль, Вам нужно внести деньги на депозит. Это ВАШИ деньги, которые Вы просто вносите для того, чтобы торговать, и Вы можете снять их, когда захотите! Помните, что заработанные деньги Вы можете выводить в любое время и что не менее важно - САМОСТОЯТЕЛЬНО с Вашего персонального торгового счёта. « Предупреждаем, что говорить личные данные своего торгового счёта третьим лицам строго запрещено и может завлечь за собой потерю Ваших средств ».</p>
      </li>
    </ul>
  </div>
</section>
