<div class="modals-wrapper success">
  <div class="success__content">
      <button class="success__close btn-reset modals-close" aria-label="Закрыть окно"></button>
      <span>Заявка успешно заполнена</span>
      <span>Мы вам перезвоним в течении 30 минут</span>
      <picture>
        <source srcset="img/success.avif" type="image/avif">
        <source srcset="img/success.webp" type="image/webp">
        <img loading="lazy" src="img/success.png" class="image" width="87" height="87" alt="Заявка успешно заполнена" aria-hidden="true">
      </picture>
  </div>
</div>
