<section class="works">
  <div class="container works__container">
    <span class="works-arrow"></span>
    <div class="works__content">
      <h2 class="works__title title">Как работает <span>система</span></h2>
      <p class="works__descr">
        <span>Траст Систем</span> это система, которая позволит вам зарабатывать от 1500 долларов каждый месяц, не выходя из дома. Для активации программы нужно всего лишь пройти регистрацию на нашем сайте, далее алгоритм сделает всё за вас.
      </p>
      <p class="works__descr">
        <span>Траст Систем</span> это платформа для автоматической торговли на крипто рынке, на которой специальный алгоритм выбирает наилучшие варианты для заработка и самостоятельно приносит Вам прибыль. Зарегистрируйтесь сейчас, примите звонок менеджера, который активирует программу и начинайте получать первую прибыль.
      </p>
    </div>

  </div>
</section>
